set runtimepath+=~/.vim_runtime

source ~/.vim_runtime/vimrcs/basic.vim
source ~/.vim_runtime/vimrcs/filetypes.vim
source ~/.vim_runtime/vimrcs/plugins_config.vim
source ~/.vim_runtime/vimrcs/extended.vim

try
source ~/.vim_runtime/my_configs.vim
catch
endtry

set cursorline              " Highlight current line
set laststatus=2            " Always show status line
set number                  " Enable line numbers.
set numberwidth=5           " width of numbers line (default on gvim is 4)
set report=0                " Show all changes.
set showmode                " Show the current mode.
set showcmd                 " show partial command on last line of screen.
set showmatch               " show matching parenthesis
set splitbelow splitright   " how to split new windows.
set title                   " Show the filename in the window title bar.

set hlsearch "Enable search highlighting.
set ignorecase "Ignore case when searching.
set incsearch "Incremental search that shows partial matches.
set smartcase "Automatically switch search to case-sensitive when search query contains an uppercase letter.

set autoindent "New lines inherit the indentation of previous lines.
set expandtab "Convert tabs to spaces.
set filetype indent on "Enable indentation rules that are file-type specific.
set shiftround "When shifting lines, round the indentation to the nearest multiple of “shiftwidth.”
set shiftwidth=4 "When shifting, indent using four spaces.
set smarttab "Insert “tabstop” number of spaces when the “tab” key is pressed.
set tabstop=4 "Indent using four spaces.
